@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fs-heading: 40px;
    
    --bg-illustration: url('/illustration-sign-up-mobile.svg');
}

@media (min-width: 768px) {
    :root {
        --bg-illustration: url('/illustration-sign-up-desktop.svg');
    }
}
@media (min-width: 1024px) {
    :root {
        --fs-heading: 56px;
    }
}

@layer components {
    .btn {
        @apply 
            text-white grid h-14 place-items-center rounded-lg font-bold
            bg-gradient-to-b hover:shadow-card 
            bg-dark-slate-grey 
            hover:from-tomato hover:to-pink
            transition-all
    }
}