@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fs-heading: 40px;
    
    --bg-illustration: url('/illustration-sign-up-mobile.svg');
}

@media (min-width: 768px) {
    :root {
        --fs-heading: 56px;

        --bg-illustration: url('/illustration-sign-up-desktop.svg');
    }
}